*{ padding: 0; margin: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif; scroll-behavior: smooth;}

/* Header */
header{
    background-color: #46105B;
    display: none;
    padding: 5px;
    align-items: center;
    justify-content: center;
    gap: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: all ease-in-out 0.2s;
}

header img{
    width: 51px;
    height: 57px;
}

header nav a{
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

/* Home */
.home{
    color: #fff;
    background-color: #46105B;
    display: flex;
    padding: 20px;
}

.home img{
    width: 122px;
    height: 84px;
    margin-right: 15px;
}

.home h1{ font-size: 2.0rem; }

.home h2{ font-size: 0.6rem; }

.home .home-titulo-subtitulo{ margin-top: 34px; }

/* Sobre nós */
.fundo-titulo{
    color: #fff;
    background: linear-gradient(0deg, #94C2CC 0%, #46105B 100%);
    padding: 20px;
    text-align: center;
}

.sobre-nos .textos{
    font-size: 0.9rem;
    display: flex;
}

.sobre-nos .textos img{
    width: 182px;
    height: 246px;
}

.sobre-nos .texto-fundos{
    background-color: #94C2CC;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Reviews */
.reviews{
    color: #fff;
    background-color: #46105B;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviews p{ margin-bottom: 15px; }

.reviews .review{
    color: #000;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 25px;
    width: 300px;
}

.reviews .review img{
    width: 110px;
    height: 110px;
}

.reviews .review h4{
    margin: 10px 0px;
}

.reviews .review .estrelas img{
    width: 44px;
    height: 44px;
    margin-bottom: 10px;
}

/* formuláro */
.form{
    background-color: #94C2CC;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form .titulo-form{
    text-align: center;
    margin-bottom: 10px;
}

.form .email p, .form .numero p{ margin-bottom: 5px; }

.form .email input, .form .numero input{ margin-bottom: 10px; }

.form .numero input{
    width: 110px;
}

.form .butao-div{
    display: flex;
    justify-content: center;
}

.form button{ padding: 5px; }

/* Footer */
footer{
    padding: 20px;
    color: #7D7D7D;
    background-color: #270037;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .logos{ margin-bottom: 10px; margin-top: 40px;}

footer .logos img{
    width: 31px;
    height: 33px;
}

footer p{ font-size: 0.8rem }

@media (min-width: 600px){
    .home{ justify-content: center }

    .home img{ height: 120px; }
}

@media (min-width: 1050px){
    .img-fundo-desk{
        background-image: url('../img/fundo-home-desk.png');
        background-position: -1211px -17px;
        height: 598px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home{
        width: 431px;
        height: 169px;
        border-radius: 30px;
    }

    .home img{ height: 120px; }

    .sobre-nos{ 
        background-color: #46105B;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nos .fundo-titulo{ background: linear-gradient(180deg, #94C2CC 0%, #46105B 100%); width: 100%;}

    .sobre-nos .textos{
        width: 420px;
        margin-top: 20px;
    }

    .BR-esquerda{ border-radius: 30px 0px 0px 30px; }

    .BR-direita{ border-radius: 0px 30px 30px 0px; }

    .reviews{ display: block; }

    .review-flex{
        display: flex;
        overflow-x: auto;
        gap: 20px;
    }

    .reviews .review{
        display: flex;
        width: 414px;
        height: 212px;
        gap: 20px;
    }

    .reviews .review .estrelas img {
        width: 18px;
        height: 29px;
    }

    .review .center-p{ 
        display: flex;
        align-items: center;
        width: 500px;
    }
}
